.jumbotron {
    height: 40vh;
    background-image: linear-gradient(rgba($color-grey-light, .6), rgba($color-grey-light, .6)), url(../img/home-banner.jpg);
    background-size: cover;
    background-position-y: 55%;
    color: $color-grey-extra-dark;
    position: relative;

    &__text-box {
        position: absolute;
        top: 50%;
        left: 50%;

        transform: translate(-50%, -50%);
    }
}