.jumbotron {
    background-image: linear-gradient(rgba($color-grey-light, .6), rgba($color-grey-light, .6)), url(../img/home-banner.jpg);
    background-size: cover;
    color: $color-grey-extra-dark;
}