// $color-primary: #4caf50;
// $color-primary-light: #80e27e;
// $color-primary-dark: #087f23;

$color-secondary: #546e7a;
$color-secondary-light: #819ca9;
$color-secondary-dark: #29434e;

$color-background: #ffffff;
$color-surface: #eeeeee;
$color-error: #b00020;

$color-on-primary: #000000;
$color-on-secondary: #ffffff;
$color-on-background: #000000;
$color-on-surface: #000000;
$color-on-error: #ffffff;

$color-white: #fff;
$color-black: #000;

// MATERIAL PALETTE
// ROYGBIV

$color-red: #F44336;
$color-red-dark: #D32F2F;
$color-red-light: #FFCDD2;

$color-deep-orange: #FF5722;
$color-deep-orange-dark: #E64A19;
$color-deep-orange-light: #FFCCBC;

$color-amber: #FFC107;
$color-amber-dark: #FFA000;
$color-amber-light: #FFECB3;

$color-green: #4CAF50;
$color-green-dark: #388E3C;
$color-green-light: #C8E6C9;

$color-blue: #2196F3;
$color-blue-dark: #1976D2;
$color-blue-light: #BBDEFB;

$color-indigo: #3F51B5;
$color-indigo-dark: #303F9F;
$color-indigo-light: #C5CAE9;

$color-deep-purple: #673AB7;
$color-deep-purple-dark: #512DA8;
$color-deep-purple-light: #D1C4E9;

$color-grey: #9E9E9E;
$color-grey-dark: #424242;
$color-grey-extra-dark: darken($color-grey-dark,10%);
$color-grey-light: #F5F5F5;

// PROJECT BOX IN PROJECT SECTION
$project-box-width: 30%;
$project-box-name-height: 4rem;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 0rem;
$gutter-vertical-small: 0rem;
$gutter-horizontal:0rem;


// ICON
$icon-size-large: 8rem;
$icon-size-medium: 6rem;
$icon-size-small: 3rem;
$icon-size-extra-small: 2rem;

// PADDING
$padding-large: 7rem;
$padding-medium: 4rem;
$padding-small: 1.5rem;

// BASE
$page-float-out-time: 0.3s;

// LETTER SPACING
$letter-spacing-large: .2rem;
$letter-spacing-medium: .1rem;
$letter-spacing-small: .01rem;

/////////

$show-home-image: true;
$background-opacity: 0.5;
$nav-icon-width: 7em;
$nav-icon-height: 4em;

$nav-menu-width: auto;
$nav-menu-height: auto;
$nav-item-width: auto;
$nav-item-height: auto;

$bio-width: 250px;

// Small phones (iPhone SE)
$breakpoint-sm-min: 320px;
// Small tablets (iPad)
$breakpoint-md-min: 768px;
// Small Desktops
$breakpoint-lg-min: 992px;
// Large Desktops
$breakpoint-xl-min: 1200px;