.solar-system {

    &__container {
        background-image: url(../resources/Random-Stars-Full-PSmin.jpg);
        background-size: cover;

        height: 40vh;

        position: relative;
    }
}